POSTGRES_PASSWORD= # Contraseña para la base de datos
SMTP_HOST= # live.smtp.mailtrap.io
SMTP_PORT= # 587
SMTP_LOGIN= # Obtenida de Resend
SMTP_PASSWORD= # Obtenida de Mailtrap
JWT_SECRET= # Crear usando: openssl rand -base64 32
FLASK_SECRET_KEY= # Crear usando: python -c 'import secrets; print(secrets.token_hex())'
#URL_BASE_PUBLIC_API=https://contaminapp.joacoslime.zapto.org/
