DATABASE_URL=postgresql://postgres:postgres@localhost/contaminapp
RESEND_KEY= # Obtenida de Resend
JWT_SECRET= # Crear usando: openssl rand -base64 32
FLASK_SECRET_KEY= # Crear usando: python -c 'import secrets; print(secrets.token_hex())'
#URL_BASE_PUBLIC_API=https://contaminapp.joacoslime.zapto.org/
