DATABASE_URL=postgres://postgres:postgres@localhost/contaminapp
RESEND_KEY= # Obtenida de Resend
JWT_SECRET= # Crear usando: openssl rand -base64 32
#BACKEND_URL=https://contaminapp.joacoslime.zapto.org/
